<ul class="section-nav">
  <li class="entry">
    <strong>Fall 2019</strong>
  </li>
  <li>
    <a data-active="^MP/2019/fall/5" href="/MP/2019/fall/5/">MP5</a>
  </li>
  <li>
    <a data-active="^MP/2019/fall/4" href="/MP/2019/fall/4/">MP4</a>
  </li>
  <li>
    <a data-active="^MP/2019/fall/3" href="/MP/2019/fall/3/">MP3</a>
  </li>
  <li>
    <a data-active="^MP/2019/fall/2" href="/MP/2019/fall/2/">MP2</a>
  </li>
  <li>
    <a data-active="^MP/2019/fall/1" href="/MP/2019/fall/1/">MP1</a>
  </li>
  <li>
    <a data-active="^MP/2019/fall/0" href="/MP/2019/fall/0/">MP0</a>
  </li>
  <li>
    <span data-active="^MP/2019/fall/setup" class="option">Setup</span>
    <ul>
      <li>
        <a data-active="^MP/2019/fall/setup/android-studio" href="/MP/2019/fall/setup/android-studio/">Android Studio</a>
      </li>
      <li>
        <a data-active="^MP/2019/fall/setup/git" href="/MP/2019/fall/setup/git/">Git</a>
      </li>
    </ul>
  </li>
  <li>
    <strong><a href="/MP/">Return to Current MPs</a></strong>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
