<ul class="section-nav">
  <li class="entry">
    <strong>Fall 2017</strong>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <li>
    <a data-active="^MP/2017/fall/7" href="/MP/2017/fall/7/">MP7</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/6" href="/MP/2017/fall/6/">MP6</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/5" href="/MP/2017/fall/5/">MP5</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/4" href="/MP/2017/fall/4/">MP4</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/3" href="/MP/2017/fall/3/">MP3</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/2[^0]" href="/MP/2017/fall/2/">MP2</a>
  </li>
  <li>
    <a data-active="^MP/2017/fall/1" href="/MP/2017/fall/1/">MP1</a>
  </li>
  <li>
    <span data-active="^MP/2017/fall/setup" class="option">Setup</span>
    <ul>
      <li>
        <a data-active="^MP/2017/fall/setup/subversion" href="/MP/2017/fall/setup/subversion/">Subversion</a>
      </li>
      <li>
        <a data-active="^MP/2017/fall/setup/eclipse" href="/MP/2017/fall/setup/eclipse/">Eclipse</a>
      </li>
    </ul>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
