<ul class="section-nav small">
  <li class="entry">
    <strong>Fall 2019</strong>
  </li>
  <li>
    <a data-active="^lab/2019/fall/14/" href="/lab/2019/fall/14/">14: Final Project Demos</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/13/" href="/lab/2019/fall/13/">13: Final Project Checkpoint</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/12/" href="/lab/2019/fall/12/">12: Final Project</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/11/" href="/lab/2019/fall/11/">11: Sorting and Searching</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/10/" href="/lab/2019/fall/10/">10: A Knight's Tour</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/8/" href="/lab/2019/fall/8/">8: Escape the Maze</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/7/" href="/lab/2019/fall/7/">7: Data Modeling</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/6/" href="/lab/2019/fall/6/">6: Testing</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/5/" href="/lab/2019/fall/5/">5: Reverse Engineering</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/4/" href="/lab/2019/fall/4/">4: MP1</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/3/" href="/lab/2019/fall/3/">3: Strings</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/2/" href="/lab/2019/fall/2/">2: Algorithms</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/1/" href="/lab/2019/fall/1/">1: Debugging and Android Setup</a>
  </li>
  <li>
    <a data-active="^lab/2019/fall/0/" href="/lab/2019/fall/0/">0: Ready to Start</a>
  </li>
  <li>
    <strong><a href="/lab/">Return to Current labs</a></strong>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
