<ul class="section-nav">
  <li>
    <a data-active="^info/fair" href="/info/fair/">Project Fair</a>
  </li>
  <li>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-inline-block d-md-none" data-toggle="collapse" data-target="#prior-syllabus" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Syllabus Menu</span>
    </button>
    <a data-active="^info/syllabus" href="/info/syllabus/" style="display:inline-block;">Syllabus</a>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-none d-md-inline-block" data-toggle="collapse" data-target="#prior-syllabus" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Syllabus Menu</span>
    </button>
    <ul class="nav collapse" id="prior-syllabus" role="menu">
      <li>
        <a data-active="^info/2017/fall/syllabus" href="/info/2017/fall/syllabus/">
          Fall 2017
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a data-active="^info/people" href="/info/people/">People</a>
  </li>
  <li>
    <a data-active="^info/resources" href="/info/resources/">Resources</a>
  </li>
  <li>
    <a data-active="^info/more" href="/info/more/">Learn More</a>
  </li>
  <li>
    <a data-active="^info/feedback" href="/info/feedback/">Feedback</a>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
