<ul class="section-nav">
  <!--
  <li>
    <a data-active="^m/grades" href="/m/grades/">Grades</a>
  </li>
  <li>
    <a data-active="^m/stats" href="/m/stats/">Stats</a>
  </li>
  <li><div class="dropdown-divider"></div></li>
  -->
  <li>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-inline-block d-md-none" data-toggle="collapse" data-target="#prior-syllabus" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Syllabus Menu</span>
    </button>
    <a data-active="^info/syllabus" href="/info/syllabus/" style="display:inline-block;">Syllabus</a>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-none d-md-inline-block" data-toggle="collapse" data-target="#prior-syllabus" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Syllabus Menu</span>
    </button>
    <ul class="nav flex-column collapse" id="prior-syllabus" role="menu">
      <li>
        <a data-active="^info/2020/spring/syllabus" href="/info/2020/spring/syllabus/">
          Spring 2020
        </a>
      </li>
      <li>
        <a data-active="^info/2019/fall/syllabus" href="/info/2019/fall/syllabus/">
          Fall 2019
        </a>
      </li>
      <li>
        <a data-active="^info/2019/spring/syllabus" href="/info/2019/spring/syllabus/">
          Spring 2019
        </a>
      </li>
      <li>
        <a data-active="^info/2018/fall/syllabus" href="/info/2018/fall/syllabus/">
          Fall 2018
        </a>
      </li>
      <li>
        <a data-active="^info/2018/spring/syllabus" href="/info/2018/spring/syllabus/">
          Spring 2018
        </a>
      </li>
      <li>
        <a data-active="^info/2017/fall/syllabus" href="/info/2017/fall/syllabus/">
          Fall 2017
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a data-active="^info/people" href="/info/people/">People</a>
  </li>
  <li>
    <a data-active="^info/resources" href="/info/resources/">Resources</a>
  </li>
  <li>
    <a data-active="^info/feedback" href="/info/feedback/">Feedback</a>
  </li>
  <li>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-inline-block d-md-none" data-toggle="collapse" data-target="#prior-fair" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Fair Menu</span>
    </button>
    <a data-active="^info/fair" href="/info/fair/" style="display:inline-block;">Fair</a>
    <button type="button" class="btn dropdown-toggle dropdown-toggle-split d-none d-md-inline-block" data-toggle="collapse" data-target="#prior-fair" aria-haspopup="true" aria-expanded="false" onclick="this.blur();">
      <span class="sr-only">Toggle Prior Fair Menu</span>
    </button>
    <ul class="nav flex-column collapse" id="prior-fair" role="menu">
      <li>
        <a data-active="^info/2019/spring/fair" href="/info/2019/spring/fair/">
          Spring 2019
        </a>
      </li>
      <li>
        <a data-active="^info/2018/fall/fair" href="/info/2018/fall/fair/">
          Fall 2018
        </a>
      </li>
      <li>
        <a data-active="^info/2018/spring/fair" href="/info/2018/spring/fair/">
          Spring 2018
        </a>
      </li>
    </ul>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <li>
    <a data-active="^info/proficiency" href="/info/proficiency/">Proficiency Exam</a>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <!--
  <li>
    <a data-active="^info/training" href="/info/training/">Staff Training Program</a>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <li>
    <a data-active="^info/join" href="/info/join/">
      <strong>Staff Positions</strong>
    </a>
  </li>
  <li><div class="dropdown-divider"></div></li>
  -->
  <li>
    <a href="/tech/">Tech Stack</a>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
