<ul class="section-nav small">
  <!--
  <li>
    <a data-active="^lab/14/" href="/lab/14/">14: Final Project Demos</a>
  </li>
  <li>
    <a data-active="^lab/13/" href="/lab/13/">13: Final Project Checkpoint</a>
  </li>
  <li>
    <a data-active="^lab/12/" href="/lab/12/">12: Final Project</a>
  </li>
  <li>
    <a data-active="^lab/11/" href="/lab/11/">11: Sorting and Searching</a>
  </li>
  <li>
    <a data-active="^lab/10/" href="/lab/10/">10: A Knight's Tour</a>
  </li>
  <li>
    <a data-active="^lab/8/" href="/lab/8/">8: Escape the Maze</a>
  </li>
  <li>
    <a data-active="^lab/7/" href="/lab/7/">7: Data Modeling</a>
  </li>
  <li>
    <a data-active="^lab/6/" href="/lab/6/">6: Testing</a>
  </li>
  -->
  <li>
    <a data-active="^lab/5/" href="/lab/5/">5: Reverse Engineering</a>
  </li>
  <li>
    <a data-active="^lab/4/" href="/lab/4/">4: MP1</a>
  </li>
  <li>
    <a data-active="^lab/3/" href="/lab/3/">3: Strings</a>
  </li>
  <li>
    <a data-active="^lab/2/" href="/lab/2/">2: Algorithms</a>
  </li>
  <li>
    <a data-active="^lab/1/" href="/lab/1/">1: Debugging and Android Setup</a>
  </li>
  <li>
    <a data-active="^lab/0/" href="/lab/0/">0: Ready to Start</a>
  </li>
  <li>
    <span class="option">Archive</span>
    <ul>
      <li>
        <a data-active="^lab/2019/fall" href="/lab/2019/fall/0/">Fall 2019</a>
      </li>
      <li>
        <a data-active="^lab/2019/spring" href="/lab/2019/spring/0/">Spring 2019</a>
      </li>
      <li>
        <a data-active="^lab/2018/fall" href="/lab/2018/fall/0/">Fall 2018</a>
      </li>
      <li>
        <a data-active="^lab/2018/spring" href="/lab/2018/spring/0/">Spring 2018</a>
      </li>
    </ul>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
