<ul class="section-nav">
  <li>
    <a data-active="^learn" href="/learn/">Lectures</a>
  </li>
  <li>
    <a data-active="^exams" href="/exams/">Exams</a>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
