<ul class="section-nav">
  <li>
    <a data-active="^learn/$" href="/learn/">Lectures</a>
  </li>
  <li>
    <a data-active="^learn/exams/" href="/learn/exams/">Exams</a>
  </li>
  <li>
    <a data-active="^learn/more/" href="/learn/more/">More</a>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
