<ul class="section-nav">
  <li>
    <a data-active="^MP/3" href="/MP/3/">MP3</a>
  </li>
  <li>
    <a data-active="^MP/2" href="/MP/2/">MP2</a>
  </li>
  <li>
    <a data-active="^MP/1" href="/MP/1/">MP1</a>
  </li>
  <li>
    <a data-active="^MP/0" href="/MP/0/">MP0</a>
  </li>
  <li>
    <span data-active="^MP/setup" class="option">Setup</span>
    <ul>
      <!--
      <li>
        <a data-active="^MP/setup/intellij" href="/MP/setup/intellij/">IntelliJ</a>
      </li>
      <li>
        <a data-active="^MP/setup/java" href="/MP/setup/java/">Java</a>
      </li>
      -->
      <li>
        <a data-active="^MP/setup/android-studio" href="/MP/setup/android-studio/">Android Studio</a>
      </li>
      <li>
        <a data-active="^MP/setup/git" href="/MP/setup/git/">Git</a>
      </li>
      <li>
        <a data-active="^MP/setup/EWS" href="/MP/setup/EWS/">EWS</a>
      </li>
    </ul>
  </li>
  <li>
    <span class="option">Archive</span>
    <ul>
      <li>
        <a data-active="^MP/2018/fall" href="/MP/2018/fall/0/">Fall 2018</a>
      </li>
      <li>
        <a data-active="^MP/2018/spring" href="/MP/2018/spring/0/">Spring 2018</a>
      </li>
      <li>
        <a data-active="^MP/2017/fall" href="/MP/2017/fall/1/">Fall 2017</a>
      </li>
    </ul>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
