<div id="navbarTop" class="fixed-top">
  <nav class="navbar navbar-expand navbar-light bg-white pb-2 flex-column flex-md-row">
    <a class="navbar-brand" href="/">
      <img src="/img/logos/cs125-wide-157x60.png"
           width="157"
           height="60"
           data-pagespeed-no-transform="true"
           class="d-none d-lg-inline-block align-top"
           alt="CS 125: Introduction to Computer Science">
      <img src="/img/logos/cs125-60x60.png"
           width="46"
           height="46"
           data-pagespeed-no-transform="true"
           class="d-inline-block d-lg-none align-top"
           alt="CS 125: Introduction to Computer Science">
    </a>
    {{#if sidebar }}
    <button id="sidebar-button"
            type="button"
            data-toggle="collapse"
            data-target="#sidebar"
            aria-controls="sidebar"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="d-block d-md-none"
            style="position: fixed; top: 20px; right: 20px;">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{/if}}
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link noexternal"
           href="https://cs125-forum.cs.illinois.edu">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="/info/syllabus/"
           data-active="^(?!info/join)info">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="/lab/8/"
           data-redirect="/lab"
           data-active="^lab">Labs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="/MP/4/"
           data-redirect="/MP"
           data-active="^MP">MPs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           href="/learn/"
           data-active="(^exams|^learn)">Learn</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link"
           href="/info/join/"
           data-active="^info/join">Join</a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link"
           href="/m/grades/"
           data-active="^m/grades">Grades</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link"
           href="/info/people/"
           data-active="^info/join">People</a>
      </li>
      -->
    </ul>
    <ul class="navbar-nav ml-auto mr-2">
      <li id="login" class="d-flex mr-2 mr-xl-3"></li>
      <li class="d-none d-md-flex nav-item mr-2 mr-xl-3">
        <a href="//www.youtube.com/channel/UC8L44j0A6LAlC4FM8IiNx-w/videos" target="_blank" class="noexternal"><i class="fa fa-youtube-play fa-2x navbar-icon" aria-hidden="true"></i></a>
      </li>
      <li class="d-none d-md-flex nav-item">
        <a href="//github.com/cs125-illinois" target="_blank" class="noexternal"><i class="fa fa-github fa-2x navbar-icon" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>
  <div class="fadeout"></div>
</div>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
