<ul class="section-nav">
  <li class="entry">
    <strong>Spring 2018</strong>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <li>
    <a data-active="^MP/2018/spring/7" href="/MP/2018/spring/7/">MP7</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/6" href="/MP/2018/spring/6/">MP6</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/5" href="/MP/2018/spring/5/">MP5</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/4" href="/MP/2018/spring/4/">MP4</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/3" href="/MP/2018/spring/3/">MP3</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/2[^0]" href="/MP/2018/spring/2/">MP2</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/1" href="/MP/2018/spring/1/">MP1</a>
  </li>
  <li>
    <a data-active="^MP/2018/spring/0" href="/MP/2018/spring/0/">MP0</a>
  </li>
  <li>
    <span data-active="^MP/2018/spring/setup" class="option">Setup</span>
    <ul>
      <li>
        <a data-active="^MP/2018/spring/setup/java" href="/MP/2018/spring/setup/java/">Java</a>
      </li>
      <li>
        <a data-active="^MP/2018/spring/setup/intellij" href="/MP/2018/spring/setup/intellij/">IntelliJ</a>
      </li>
      <li>
        <a data-active="^MP/2018/spring/setup/android-studio" href="/MP/2018/spring/setup/android-studio/">Android Studio</a>
      </li>
      <li>
        <a data-active="^MP/2018/spring/setup/git" href="/MP/2018/spring/setup/git/">Git</a>
      </li>
      <li>
        <a data-active="^MP/2018/spring/setup/EWS" href="/MP/2018/spring/setup/EWS/">EWS</a>
      </li>
    </ul>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
