<ul class="section-nav">
  <li>
    <a data-active="^tech/$" href="/tech/">
      <strong>Tech Stack Overview</strong>
    </a>
  </li>
  <li><div class="dropdown-divider"></div></li>
  <li>
    <a data-active="^tech/app" href="/tech/app/">App</a>
  </li>
</ul>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
