.sidebar, .toc {
  font-family: $headings-font-family;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  a.nav-link, a.sidebar-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: $illinois-orange;
    text-decoration: none;

    &:hover, &.active {
      font-weight: bold;
    }
    &.active {
      color: $illinois-blue;
    }
  }

  @supports (position: sticky) {
    position: sticky;
    top: 100px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
}

.sidebar {
  font-size: 1.2rem;
  & .section-nav {
    padding-right: 0;
    border-right: 1px solid lighten($illinois-orange, 40%);
  }
  ul {
    padding-right: 1rem;
  }
  margin-left: -15px;
}
.toc {
  font-size: 1rem;
  & .section-nav {
    padding-left: 0;
    border-left: 1px solid lighten($illinois-orange, 40%);
  }
  ul {
    padding-left: 1rem;
  }
}

.toc-entry {
  display: block;

  a {
    display: block;
    padding: .125rem 1.5rem;
    color: $illinois-orange;
    text-decoration: none;

    &:hover, &.active {
      font-weight: bold;
      text-decoration: none;
    }
    &.active {
      color: $illinois-blue;
    }
  }
  ul {
    list-style: none;
  }
}

//
// Left side navigation
//

.cs125-sidebar {
  order: 0;
  font-family: $headings-font-family;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 100px;
      z-index: 1000;
      max-height: calc(100vh - 100px);
    }
    border-right: 1px solid lighten($illinois-orange, 40%);
  }
  @include media-breakpoint-up(xl) {
    max-width: 320px;
  }
}

.cs125-links {
  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.cs125-search {
  position: relative; // To contain the Algolia search
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);

  .form-control:focus {
    border-color: $illinois-orange;
    box-shadow: 0 0 0 3px rgba($illinois-orange, .25);
  }
}

.cs125-search-docs-toggle {
  line-height: 1;
  color: $gray-900;
}

.cs125-sidenav {
  display: none;
}

.cs125-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: 500;
  color: rgba(0,0,0,.65);

  &:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none;
  }
}

.cs125-toc-item {
  &.active {
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    > .cs125-toc-link {
      color: rgba(0,0,0,.85);

      &:hover {
        background-color: transparent;
      }
    }

    > .cs125-sidenav {
      display: block;
    }
  }
}

// All levels of nav
.cs125-sidebar .nav > li > a {
  display: block;
  padding: .25rem 1.5rem;
  font-size: 90%;
  color: rgba(0,0,0,.65);
}

.cs125-sidebar .nav > li > a:hover {
  color: rgba(0,0,0,.85);
  text-decoration: none;
  background-color: transparent;
}

.cs125-sidebar .nav > .active > a,
.cs125-sidebar .nav > .active:hover > a {
  font-weight: 500;
  color: rgba(0,0,0,.85);
  background-color: transparent;
}

// vim: ts=2:sw=2:et:ft=scss
