.sidebar, .toc {
  font-family: $headings-font-family;
  word-wrap: break-word;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    ul {
      font-size: 90%;
    }
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    top: 100px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }

  & .entry {
    display: block;

    a {
      display: block;
      padding: .125rem 1.5rem;
      color: $illinois-orange;
      text-decoration: none;

      &:hover, &.active {
        color: $illinois-blue;
      }
    }
  }
}

.sidebar {
  left: 0px;
  font-size: 1.2rem;
  & .section-nav {
    padding-right: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid lighten($illinois-orange, 40%);
    @include media-breakpoint-up(md) {
      border-bottom: none;
      padding-bottom: 0;
      border-right: 1px solid lighten($illinois-orange, 40%);
    }
  }
  ul {
    padding-right: 1rem;
    ul {
      padding-left: 1rem;
      padding-right: 0rem;
    }
  }
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -15px;
  div#sidebar {
    nav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1.5em;
      padding-right: 0.5em;
    }
    ul.section-nav li {
      padding: .125rem 0;
      a {
        display: block;
        color: $illinois-orange;
        text-decoration: none;
        &:hover, &.active {
          color: $illinois-blue;
        }
      }
      button.dropdown-toggle {
        padding-right: 0.4em;
        padding-left: 0.2em;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    @include media-breakpoint-up(md) {
      & {
        display: block !important;
      }
    }
    @include media-breakpoint-down(sm) {
      &.collapse, &.collapsing {
        nav {
          background-color: white;
          padding-bottom: 0 !important;
          text-align: right;
        }
        position: fixed;
        top: 100px;
        z-index: 1000;
        width: 100%;
        width: 100%;
      }
    }
    ul.nav {
      &.collapse {
        display: none !important;
      }
      &.collapse.show {
        display: flex !important;
      }
      @include media-breakpoint-down(sm) {
        li {
          text-align: right;
          width: 100%;
          padding-right: 1em;
        }
      }
    }
  }
}
.toc {
  right: 0px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem;
  & .section-nav {
    padding-left: 0;
    border-left: 1px solid lighten($illinois-orange, 40%);
  }
  ul {
    padding-left: 1rem;
  }
}

#sidebar-button {
  background-color: transparent;
  border: 1px solid $illinois-orange;
}

.cs125-search {
  position: relative; // To contain the Algolia search
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0,0,0,.05);

  .form-control:focus {
    border-color: $illinois-orange;
    box-shadow: 0 0 0 3px rgba($illinois-orange, .25);
  }
}

.cs125-search-docs-toggle {
  line-height: 1;
  color: $gray-900;
}

// vim: ts=2:sw=2:et:ft=scss
