@import "site";

html, body, #hero {
  height: 100%;
  width: 100%;
}

#hero {
  background:url('/img/index/hero.png') center center;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

nav.navbar {
  background-color: transparentize($white, 0.9) !important;
}

div#fadeout {
  display: none;
}

#content {
  padding-top: 80px;
}

.jumbotron {
  background-color: transparentize($white, 0.4);
}
