---
title: "CS 125 Exams"
description:
  Challenge your mastery of introductory computer science concepts. Take an
  exam, and then review the solution set.
sidebar: learn
---
<p class="lead">Below are examples of previous exams. Exam and question
statistics are included in the solution set.</p>

<div class="row text-center">
  <div class="col-12 col-md-3 align-self-center"><h2 class="h3">2017</h2></div>
	<div class="col-12 col-md-9">
		<div class="row row-flex-center">
			<div class="col-4">Practice Final</div>
			<div class="col-4"><a href="2017_final_practice_exam.pdf">Exam</a></div>
			<div class="col-4"><a href="2017_final_practice_solution.pdf">Solution</a></div>
		</div>
	</div>
</div>
