---
title: "CS 125: Page Not Found"
description:
  We didn't find the page you were looking for.
priority: 0.0
changefreq: yearly
doTOC: false
doGithub: false
---
{{> header }}

<main id="content" class="container">
<div class="row align-items-center mt-4">
  <div class="col-12" style="text-align: center">
    <img src="/img/logos/cs125-60x60.png" class="mx-auto d-block img-fluid" alt="CS 125 Logo">
    <h1>We Couldn't Find That Page</h1>
    <p>
      Sorry: that page doesn't seem to exist. Maybe try another?
    </p>
  </div>
</main>
</body>
</html>

<!--
vim: et:ts=2:sw=2:ft=html
-->
