---
title: "Grades"
description:
  Aced the MPs? Find out here!
priority: 0.9
changefreq: monthly
layout: single.hbt
---
<div id="grades" class="mt-2 spelling_exception">
  <h2>Grades</h2>
</div>

<!--
  vim: et:ts=2:sw=2:ft=html
-->
