---
title: Start Learning to Program
description:
  CS 125 is the start of your journey in computer science.
priority: 1.0
changefreq: monthly
css:
  - index.css
---
{{> header }}

<div id="hero"></div>

<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <div class="jumbotron">
        <img src="/img/logos/cs125-460x460.png" height="120" class="d-none d-sm-block d-lg-none float-right">
        <h1 class="display-4 strong">
          Learn Computer Science at Illinois
        </h1>
        <p class="lead">
          CS 125 is an exciting and thorough introduction to computer
          science&mdash;both as an intellectual discipline, and as a powerful
          skill.
        </p>
        <hr class="my-4">
        <p>Write more here.</p>
    </div>
  </div>
  <div class="col-lg-6 d-none d-lg-block">
    <img src="/img/logos/cs125-460x460.png" class="mx-auto d-block img-fluid" alt="CS 125 Logo">
  </div>
</div>

{{> footer }}
