---
title: "CS 125: Introduction to Computer Science"
description:
  CS 125 is the start of your journey in computer science.
priority: 1.0
changefreq: monthly
css:
  - index.css
---
{{> header }}

<div id="hero">
  <main id="content" class="container">
  <div class="row align-items-center mt-4">
    <div class="col-12 col-xl-8">
      <div class="jumbotron pt-4 pb-4">
        <img src="/img/logos/cs125-460x460.png" height="180" class="d-none d-sm-block d-xl-none float-right" alt="CS 125 Logo">
        <div class="text-center text-sm-left">
          <h1 class="display-4 font-weight-bold">
            Learn Computer Science at Illinois
          </h1>
        </div>
        <p class="lead">
        CS 125 is an exciting and rigorous introduction to computer
        science&mdash;as both intellectual discipline and powerful skill.
        </p>
        <hr class="my-4">
        <p>
        CS 125 begins training you to think and act like a computer
        scientist.

        It provides a high-level overview of many important computer science
        concepts&mdash;from hardware to algorithms, concurrency to
        object-oriented programming.

        Developing programming proficiency is a goal of the course, but we
        also want students to appreciate the depth and breadth of the field.

        At the end of the class, you'll be well on your way to an bright
        future in the most rewarding field out there.
        </p>
      </div>
    </div>
    <div class="col-xl-4 d-none d-xl-block">
      <img src="/img/logos/cs125-460x460.png" class="mx-auto d-block img-fluid" alt="CS 125 Logo">
    </div>
  </main>
  </div>

{{> footer }}

<!--
  vim: et:ts=2:sw=2:ft=html
-->
