---
title: Start Learning to Program
description:
  CS 125 is the start of your journey in computer science.
priority: 1.0
changefreq: monthly
css:
  - index.css
---
{{> header }}

<div id="hero"></div>

<div id="content" class="container mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <div class="jumbotron">
        <img src="/img/logos/cs125-460x460.png" height="120" class="d-none d-sm-block d-lg-none float-right" alt="CS 125 Logo">
        <h1 class="display-4 font-weight-bold">
          Learn Computer Science at Illinois
        </h1>
        <p class="lead">
          CS 125 is an exciting and rigorous introduction to computer
          science&mdash;as both intellectual discipline and powerful skill.
        </p>
        <hr class="my-4">
        <p>
          CS 125 begins training you to think and act like a computer
          scientist.

          It provides a high-level overview of many important computer science
          concepts&mdash;from hardware to algorithms, concurrency to
          object-oriented programming.

          Developing programming proficiency is a goal of the course, but we
          also want students to appreciate the depth and breadth of the field.
        </p>
    </div>
  </div>
  <div class="col-lg-6 d-none d-lg-block">
    <img src="/img/logos/cs125-460x460.png" class="mx-auto d-block img-fluid" alt="CS 125 Logo">
  </div>
</div>

{{> footer }}
