---
title: "CS 125: Down for Repairs"
description:
  We're working hard to improve this part of the site. Sit tight!
priority: 0.0
changefreq: yearly
doTOC: false
doGithub: false
---
{{> header }}

<main id="content" class="container">
<div class="row align-items-center mt-4">
  <div class="col-12" style="text-align: center">
    <img src="/img/logos/cs125-60x60.png" class="mx-auto d-block img-fluid" alt="CS 125 Logo">
    <h1>Down for Repairs</h1>
    <p>
      We're working on improving this part of the site. Please be patient! It'll
      be back soon better than ever.
    </p>
  </div>
</main>
</body>
</html>

<!--
vim: et:ts=2:sw=2:ft=html
-->
